# Get the aliases and functions
if [ -f ~/.bashrc ]; then
                . ~/.bashrc
fi
# User specific environment and startup programs
PATH=$PATH:$HOME/bin
export PATH
unset USERNAME
set -o vi
export PATH=/usr/pgsql-{{ pg_ver }}/bin:/usr/pgsql-{{ pg_ver }}/lib:/usr/bin:/bin:/sbin:/usr/sbin:/usr/local/bin:$HOME/bin:
#PostgreSQL data location
export PGPORT={{ pg_port }}
export PGDATA={{ data_dir }}
export PS1=$LOGNAME:'$PWD>'
export LANG="en_GB"
export RSYNC_RSH="ssh -q -o \"StrictHostKeyChecking no\"" rsync
